.card {
  display: inline-block;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 85px;
  height: 150px;
  bottom: 0;
  transition:bottom 0.3s ease-in-out;
}
.card-turned {
  background-image: url(../assets/back.jpg);
  background-size: cover;
}
.card-hoverable:hover {
  border: 1px solid #aaa;
  bottom: 10px;
}
.card-disable-overlay {
  position: absolute;
  border-radius: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
