.card {
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 85px;
  height: 150px;
}
.card-turned {
  background-image: url(../assets/back.jpg);
  background-size: cover;
}
.card:hover {
  border: 2px solid #aaa;
}
